# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt

# venv
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/
prepared/
features/
*.csv
*.npy
*.npz
*.parquet
*.joblib
*.cbm

# VS Code
.vscode/

# Logs
*.log

# Windows
.DS_Store
Thumbs.db

# Python packages
*.egg-info/
dist/
build/